*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  background-color: #fff;
  box-sizing: border-box;
  color: #464646;
  font: 400 100%/1.5 Roboto, Helvetica, Arial, sans-serif; /* stylelint-disable-line value-keyword-case */
}

body {
  margin: 0;
}

*{
  box-sizing: content-box;
  outline: none;
}

main {
  padding: 0.5em;
}

h1 {
  margin: 0 0 0.75em;
  color: #546e7a;
  font-size: 2em;
  font-weight: 700;
}

a {
  color: inherit;
}

.container {
  max-width: 80em;
  margin: 0 auto;
}
