// Variables
$break-small: 480px;
$color-green: #4A8306;

// Default state of the Widget
.widget {
  max-width: 740px;
  margin: 20px auto 0;
  box-shadow: 3px 3px 15px 0px #ccc;
  border-radius: 0px 0px 5px 5px;

  &__container {
    max-height: 1000px;
    overflow: hidden;
    transition: 300ms max-height ease-in-out;
  }

  &__header {
    font-size: 1.2rem;
    line-height: 1.6rem;
    font-weight: 700;
    padding: 10px 15px;
    background-color: #C7C7A5;
    margin-bottom: 0px;
    border-radius: 5px 5px 0px 0px;
  }

  &__headerButton {
    position: relative;
    border: none;
    background-color: transparent;
    width: 100%;
    text-align: left;
    font-size: inherit;
    font-weight: inherit;
    padding: 0;
    cursor:pointer;

    &:after {
      content: "";
      position: absolute;
      height: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;

      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-bottom: 7px solid $color-green;

      transition: 300ms transform ease-in-out;
    }
  }

  &__content {
    font-size: 1rem;
    padding: 0px 15px;
  }

  &__contentContainer {
    display: flex;
    align-items: center;
  }

  &__contentContainerImage {
      flex: 1 1 35%;
  }

  &__contentImage {
    width: 100%;
  }

  &__contentMetaContainer {
    flex: 1 0 65%;
  }

  &__contentMetaTitle {
    font-size: 1.2rem;
    line-height: 1.2rem;
    font-weight: 700;
    margin-bottom: 20px;
  }

  &__contentMetaDesc {
    font-size: 0.75rem;
  }

  &__navigation {
    border-top: 1px solid #E6E7DF;
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
  }

  &__navigationButton {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 1rem;
    color: $color-green;
    position: relative;
    padding: 2px 15px;

    &:after {
      content: "";
      position: absolute;

      top: 0;
      bottom: 0;
      margin: auto;
      height: 0;

      border-bottom: 7px solid transparent;
      border-top: 7px solid transparent;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  &__navigationButton--prev {
    &:after {
      left: 0;
      border-right: 7px solid $color-green;
    }
  }

  &__navigationButton--next {
    &:after {
      right: 0;
      border-left: 7px solid $color-green;
    }
  }
}

// Inactive state: collapsed
.widget--inactive {
  .widget__container {
    max-height: 0px;
  }

  .widget__headerButton {
    &:after {
      transform: rotate(180deg);
    }
  }
}

// Mobile media query
.widget {
  @media screen and (max-width: $break-small) {
    &__navigation {
      justify-content: center;
      flex-wrap: wrap;
    }
  }
}
